.items {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  row-gap: 32px;
  column-gap: 24px;
  margin: 24px 0px 40px;
}

.items:last-child {
  margin-bottom: 0px;
}