.iconIngredients_imgBorder {
    margin-left: -16px;
    --b: 2px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 64px;
    aspect-ratio: 1;
    position: relative;
    align-items: center;
}
  
.iconIngredients_imgBorder:before {
    content: "";
    position: absolute;
    z-index:1;
    inset: 0;
    background: var(--c, linear-gradient(to right, #801AB2, #4C4CFF));
    padding: var(--b);
    border-radius: 50%;
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
            mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;

    z-index: 50;
}

.iconIngredients_imgBorder:nth-child(1) {
    margin-left: 0px;
    z-index: 10;
}
  
.iconIngredients_imgBorder:nth-child(2) {
    z-index: 9;
}
  
.iconIngredients_imgBorder:nth-child(3) {
    z-index: 8;
}
  
.iconIngredients_imgBorder:nth-child(4) {
    z-index: 7;
}
  
.iconIngredients_imgBorder:nth-child(5) {
    z-index: 6;
}
  
.iconIngredients_imgBorder:nth-child(6) {
    z-index: 5;
}

.iconIngredients_imgBackground {
    border-radius: 50%;
    background-color: #1C1C21;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 60;
    width: 59px;
    height: 59px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.iconIngredients_img {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    z-index: 70;
}


.iconIngredients_indexMax {
    width: 64px;
    height: 64px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.iconIngredients_count {
    position: absolute;
    z-index: 50;
}

.iconIngredients_opacity {
    opacity: 0.6;
}